<a href="https://colab.research.google.com/github/KonuTech/Time-Series-Analysis-Forecasting-and-Machine-Learning/blob/main/Naive_Forcast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

In [4]:
!pip install -U scikit-learn

Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/a8/eb/a48f25c967526b66d5f1fa7a984594f0bf0a5afafa94a8c4dbc317744620/scikit_learn-0.24.2-cp37-cp37m-manylinux2010_x86_64.whl (22.3MB)
     |████████████████████████████████| 22.3MB 133kB/s
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Installing collected packages: threadpoolctl, scikit-learn
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
Successfully installed scikit-learn-0.24.2 threadpoolctl-2.1.0

In [7]:
from sklearn.metrics import mean_absolute_percentage_error, \
  mean_absolute_error, r2_score, mean_squared_error

In [8]:
!wget -nc https://lazyprogrammer.me/course_files/SPY.csv

File ‘SPY.csv’ already there; not retrieving.

In [9]:
df = pd.read_csv('SPY.csv', index_col='Date', parse_dates=True)

In [10]:
df.head()

                  Open        High  ...  Adj Close     Volume
Date                                ...
2010-01-04  112.370003  113.389999  ...  92.246048  118944600
2010-01-05  113.260002  113.680000  ...  92.490204  111579900
2010-01-06  113.519997  113.989998  ...  92.555328  116074400
2010-01-07  113.500000  114.330002  ...  92.946060  131091100
2010-01-08  113.889999  114.620003  ...  93.255348  126402800

[5 rows x 6 columns]

In [11]:
df['ClosePrediction'] = df['Close'].shift(1)

In [12]:
df.head()

                  Open        High  ...     Volume  ClosePrediction
Date                                ...
2010-01-04  112.370003  113.389999  ...  118944600              NaN
2010-01-05  113.260002  113.680000  ...  111579900       113.330002
2010-01-06  113.519997  113.989998  ...  116074400       113.629997
2010-01-07  113.500000  114.330002  ...  131091100       113.709999
2010-01-08  113.889999  114.620003  ...  126402800       114.190002

[5 rows x 7 columns]

In [16]:
y_true = df.iloc[1:]['Close']
y_pred = df.iloc[1:]['ClosePrediction']

In [14]:
y_true

Date
2010-01-05    113.629997
2010-01-06    113.709999
2010-01-07    114.190002
2010-01-08    114.570000
2010-01-11    114.730003
                 ...
2018-12-21    240.699997
2018-12-24    234.339996
2018-12-26    246.179993
2018-12-27    248.070007
2018-12-28    247.750000
Name: Close, Length: 2262, dtype: float64

In [18]:
# SSE
(y_true - y_pred).dot(y_true - y_pred)

6330.374289492609

In [19]:
# MSE
mean_squared_error(y_true, y_pred)

2.7985739564511984

In [20]:
# MSE again
# Dont be afraid to implement things yourself!
# It should ne easy (and good for your brain)
(y_true - y_pred).dot(y_true - y_pred) / len(y_true)

2.7985739564511976

In [21]:
# RMSE
mean_squared_error(y_true, y_pred, squared=False)

1.6728938867875627

In [22]:
# RMSE again
np.sqrt((y_true - y_pred).dot(y_true - y_pred) / len(y_true))

1.6728938867875625

In [23]:
# MAE
mean_absolute_error(y_true, y_pred)

1.1457559803120336

In [24]:
# R^2
# Wow, what a great prdiction!
# Why is it so good? Be suspicious...
r2_score(y_true, y_pred)

0.9989603259063914

In [25]:
# MAPE
mean_absolute_percentage_error(y_true, y_pred)

0.006494073151422375

In [32]:
# sMAPE
# Not implemented, oh well...
# Good thing we are brave and know how to implement things!
def smape(y_true, y_pred):
    """
    """
    numerator = np.abs(y_true - y_pred)
    denominator = (np.abs(y_true) + np.abs(y_pred)) / 2
    ratio = numerator / denominator
    return ratio.mean()

In [33]:
smape(y_true, y_pred)

0.006491365814068423